.flexP{
    margin-left: 257px;
}
h1{
    margin-left: 413px;
}
.ins{
    left: 990px;
}
#end{
    margin-left: 519px;
}
#test5{
    left: 292px;
}
#test6{
    left: 292px;
}
#test1{
    left: 292px;
}
#test3{
    left: 613px;
}
#test4{
    left: 846px;
}
#test2{
    left: 379px;
}
#test7{
    left: 313px;
}
#test8{
    left: 308px;
}